body{
    display:flex;
    justify-content:center;
    gap:5vw;
    align-items:center;
    height:100vh;
    margin:0%;
}

.box-visual{
    border: 1px solid red;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.43) 0px 5px 30px, rgba(0, 0, 0, 0.215) 0px 6px 8px;
    border-radius:20px;
}

#sign-label{
    flex-direction:center;
}

#vertical{
    border-left:3px solid black;
    height: 19.5vh;
    max-height:260px;
    min-height:162.5px;
}

#login{
    display:flex;
    background-color: lightcoral;
    justify-content: center;
    align-items:center;
    height:30vh;
    width:25vw;
    max-width:500px;
    max-height:400px;
    min-height:200px;
    min-width:170px;
}

#sign-box{
    text-decoration: none;
    color:inherit;
}

#submit{
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 0 auto;
}


.login-text{
    font-size:15px;
}

