.box-visual{
    border: 1px solid red;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.43) 0px 5px 30px, rgba(0, 0, 0, 0.215) 0px 6px 8px;
    border-radius:20px;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0%;
}

#login{
    display:flex;
    background-color: lightcoral;
    justify-content: center;
    align-items:center;
    width:300px;
    height:300px;
    
}

#submit{
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 0 auto;
}


#vertical{
    border-left:3px solid black;
    height: 300px;
    position:absolute;
}

#sign-label{
    flex-direction:center;
}

#username{
    font-size:15px;
}

#pwd{
    font-size:15px;
    
}

.login-box label{
    font-size:15px;
}

