/*body adjustments to space out objects*/
body{
    background-color: #E8E8E4;
    display:flex;
    justify-content:center;
    gap:5vw;
    align-items:center;
    height:100vh;
    margin:0%;
}

/*box visual/color settings*/
.box-visual{
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.43) 0px 5px 30px, rgba(0, 0, 0, 0.215) 0px 6px 8px;
    border-radius:20px;
}

/*"Sign In" text customizations"*/
#sign-label{
    flex-direction:center;
    font-family: 'Inter', sans-serif;
    font-weight:300;
}

/*creates the vertical line between "sign in" and the login box*/
#vertical{
    border-left:2.5px solid black;
    height: 19.5vh;
    max-height:260px;
    min-height:162.5px;
}

/*login box css*/
#login{
    display:flex;
    background-color: #ECE4DB;
    justify-content: center;
    align-items:center;
    height:30vh;
    width:25vw;
    max-width:500px;
    max-height:400px;
    min-height:170px;
    min-width:200px;
}

/*link "stay signed in" functioning as an extension of the checkbox*/
#sign-checkbox{
    text-decoration: none;
    color:inherit;
    font-family: 'Inter', sans-serif;
}

/*"sign in" button*/
#submit{
    border-left:1.2px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 0 auto;
    border-radius:4px;
    width:100px;
}

/*text for the login box*/
.login-text{
    font-size:15px;
    font-family: 'Inter', sans-serif;
}

